{% extends 'app/base.html.twig' %}
{% block body %}
  {% if document.title1 or document.title2 %}
  <div class="text-center pt-4">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">{{ document.title1 }}</h1>
          <p class="gr_text">{{ document.title2 }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container mb-3 mt-4">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb breadcrumb-text">
          <a href="{{ path('homepage') }}">Home</a>&nbsp; / &nbsp;<span>{{ document.pageName }}</span>
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="bg_white white_box p-4 mb-4">
      <h1 class="mb-3 page-title">{{ document.blockByFieldKey('title1') }}</h1>
      <div class="">
        <div class="">
          <p>{{ document.blockByFieldKey('text1') | raw }}</p>


          <iframe src="{{ document.blockByFieldKey('mapurl') }}" style="width:100%; height:600px;"></iframe>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-12">

      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="text-center pt-4">
            <div class="">
              <div class="row">
                {% include 'app/main/snip/review.html.twig' %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 offset-lg-3 mt-5">
          <div class="text-center py-4 footer_icons">
            <div class="container">
              <div class="row">
                <div class="col-12">

                  <div class="row">
                    {% include 'app/main/snip/menu_pagebottom.twig' %}
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
{% endblock %}
