{% extends 'app/base.html.twig' %}
{% block body %}

    {% if document.title1 or document.title2 %}
        <div class="text-center pt-4">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-md-12">
                        <h1 class="mb-3">{{ document.title1 }}</h1>
                        <p class="gr_text">{{ document.title2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container mb-3 mt-4">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ document.pageName }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog_detal_img mb-0">
                    <img class="lazy" data-src="{{ document.blockByFieldKey('image1') }}" alt="">
                </div>

                <div class="blog_detail_content">
                    <div class="blog_posts_slider_item text-center">
                        <div class="bg_white p-3 pb-4 text-left">
                            <div class="datevs_blog">
                                <!-- {{ document.blockByFieldKey('imagetext') | raw }}--->
                            </div>
                            <h1 class="text-center my-2">{{ document.blockByFieldKey('title1') | raw  }}</h1>



                            {{ document.blockByFieldKey('text1') | raw  }}



                            <div class="row">
                                {% for thingsBlog in thingsBlogs %}
                                    {% if thingsBlog.featureImage %}
                                        <div class="col-12 col-md-3 col-lg-3">
                                            <div class="img_text_more mb-5">
                                                <div class="things" style="background: url('{{ thingsBlog.featureImage }}');"></div>
                                                <h3 class="mt-3">{{ thingsBlog.title }}</h3>
                                                <p>{{ thingsBlog.body | striptags }}</p>


                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h3 class="text-center mt-5 mb-3">Latest Posts</h3>

        <div class="swiper blog_posts_slider">
            <div class="swiper-wrapper">
                {% for topblog in topblogs %}
                    {% set category = topblog.category.title %}
                    {% set global_category = topblog.category.title %}
                    {% if topblog.thumbnail %}
                        <div class="swiper-slide">
                            <div class="blog_posts_slider_item">
                                <a href="{{ path('attraction_detail',{'slug':topblog.slug }) }}">
                                    <img class="d-block mx-auto mb-3 lazy" data-src="{{ topblog.thumbnail }}"></a>
                                <div class="datevs_blog">
                                    <span class="cat_blog_vs">
                                                                <a href="#">Turkish Food Drinks</a></span>
                                </div>
                                <h3 class="text-center my-2">
                                    <a href="#">
                                        {{ topblog.title }}
                                    </a>
                                </h3>
                                <p class="text-center gr_text mt-2">{{ topblog.description | striptags | slice(0,150)}}...</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
    <div class="mt-5"><hr></div>
    <div class="container">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="text-center pt-4">
                        <div class="">
                            <div class="row">
                                {% include 'app/main/snip/review.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 offset-lg-3 mt-5">
                    <div class="text-center py-4 footer_icons">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        {% include 'app/main/snip/menu_pagebottom.twig' %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}