{% extends 'app/base.html.twig' %}
{% block body %}
    {% set TotalPriceThreeDays = 0 %}
    {% set TotalPassPriceThreeDays = 115 %}
    {% set TotalPriceFiveDays = 0 %}
    {% set TotalPassPriceFiveDays = 135 %}
    {% set TotalPriceSevenDays = 0 %}
    {% set TotalPassPriceSevenDays = 145 %}
    {% set i = 0 %}
    {% set v = 0 %}
    {% set break = false %}
    {% if document.title1 or document.title2 %}
        <div class="text-center pt-4">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-md-12">
                        <h1 class="mb-3">{{ document.title1 }}</h1>
                        <p class="gr_text">{{ document.title2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container mb-3 mt-4">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ document.pageName }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog_detal_img mb-0">
                    <img class="lazy" data-src="{{ document.blockByFieldKey('image1') }}" alt="">
                </div>

                <div class="blog_detail_content mb-4">
                    <div class="blog_posts_slider_item text-center">
                        <div class="bg_white p-3 pb-4 text-left">
                            <div class="datevs_blog">
                              <!---  <span class="time_blog">{{ document.blockByFieldKey('imagetext') | raw }}</span>--->
                            </div>
                            <h4 class="text-center my-2">{{ document.blockByFieldKey('title1') }}</h4>


                            <p class="text-center mb-0">{{ document.blockByFieldKey('text1') | raw }}</p>


                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for touristattraction in touristattractions  %}
                        <div class="col-12 col-md-4">
                            <div class="bg_white p-3 pb-4 text-left mb-4">

                                <div class="tourist_att_is_box">
                                    <a href="{{ touristattraction.slug }}">
                                    <div class="attraction_item_rev lazy" data-src="{{ touristattraction.featureimage }}">
                                    </div>
                                    </a>
                                    <h5 class="mt-3" style="height: 40px"><a href="{{ touristattraction.slug }}">{{ touristattraction.title }}</a></h5>
                                    <p class="pt-1 pb-3">{{ touristattraction.shortdescription | striptags | slice(0,150)}}...
                                    </p>
                                    {{ touristattraction.body | raw }}
                                    <hr>
                                    <img class="lazy" data-src="{{ asset('app/images/logo-wtext.svg') }}" alt="">
                                    <hr>
                                    {{ touristattraction.description | raw }}

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>



    <hr class="mt-5">
    <div class="container">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="text-center pt-4">
                        <div class="">
                            <div class="row">
                                {% include 'app/main/snip/review.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 offset-lg-3 mt-5">
                    <div class="text-center py-4 footer_icons">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        {% include 'app/main/snip/menu_pagebottom.twig' %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}