{% extends 'admin/singlegrid.html.twig' %}
{% block grid %}
    <h1>Navigation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ navigation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ navigation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ navigation.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ navigation.createdAt ? navigation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ navigation.updatedAt ? navigation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('navigation_index') }}">back to list</a>

    <a href="{{ path('navigation_edit', {'id': navigation.id}) }}">edit</a>

    {{ include('navigation/_delete_form.html.twig') }}
{% endblock %}
