{% extends 'app/base.html.twig' %}
{% set mapData = [] %}
{% block body %}
    {% if document.title1 or document.title2 %}
        <div class="text-center pt-2 pb-3 mt-4">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-md-12">
                        <h1 class="mb-3">{{ document.title1 }}</h1>
                        <p class="gr_text">{{ document.title2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container mb-3 mt-6">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ document.pageName }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="container py-3 filter_btn_container">
        <div class="row">
            <div class="col-4">
                <div class="t_filter t_text">

                    <div class="filter_cl_text">
                        Filter
                        <i class="fa fa-filter"></i>
                    </div>

                    <div class="filter_dropdown">
                        <h3 class="">Filter</h3>
                        <span class="closeFilter"></span>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all"  value="0" name="filtercat[]" checked>
                            <label class="custom-control-label" for="all">All</label>
                        </div>

                        {% for category in categories %}
                            {% if category.id<=4 %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" onclick="removeCheck(2);"  class="custom-control-input chk" data-value="{{ category.title}}" value="{{ category.title | slugify }}" name="filtercat[]" id="{{ category.title | slugify }}">
                                <label class="custom-control-label" for="{{ category.title | slugify }}">
                                    {{ category.title }}
                                </label>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <a href="javascript:;" onclick="filterAttractions()" class="btn btn-secondary d-block">Filter</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="t_filter t_text">

                    <div class="filter_cl_text">
                        Sort
                        <i class="fa fa-sort"></i>
                    </div>

                    <div class="filter_dropdown">
                        <h3 class="">Sort</h3>
                        <span class="closeFilter"></span>

                        <div class="sortLinks_mobile">
                            <a href="#" class="active">Default</a>
                            <a href="?sort=attraction_name">A-Z</a>
                            <a href="?sort=name_attraction">Z-A</a>
                            <a href="?sort=normal_gate_price">Normal Ticket Value</a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="t_sort_view t_text text-right">

                    <b>View By</b>
                    <a class="active grd" href="#"><span><i class="fa fa-th"></i></span></a>
                    <a class="lst" href="#"><span><i class="fa fa-bars"></i></span></a>
                    <a class="active" href="{{ path('browse_attractions_map') }}"><span><i class="fa fa-map-marker"></i></span></a>

                </div>
            </div>

        </div>
    </div>

    <div class="bg_white_desk">
        <div class="pb-0 full_caroulel_container text-center mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="text-left mb-4 page-title">{{ document.blockByFieldKey('title1') }}</h3>

                        <div class="row">
                            {% for attraction in attractions %}
                            {% if attraction.lat is not null %}
                                {% set description = "<b>€"~ attraction.price ~ "</b><a href="~ attraction.slug ~" style='display:block'>See More</a>" %}
                                {% set mapData = mapData | merge([{'title': attraction.title, 'description': '<h5 class="bold-h6" style="font-size:16px">'~attraction.title~'</h5><img src="'~ attraction.thumbnail ~'" style="width:100%; margin-bottom:30px">' ~ attraction.description ~ description ,'lat' : attraction.lat, 'lng': attraction.lng, 'category':attraction.category.title}]) %}
                            {% endif %}

                            {% if attraction.price is not null %}
                                {% set priceType = 'Normal Ticket Value ' %}
                                {% set value =  '€' ~  attraction.price%}
                            {% else %}
                                {% set priceType = '' %}
                                {% set value =  'Priceless' %}
                            {% endif %}
                                <div class="col-12 hr mb-3 listview">
                                    <div class="attraction_carousel_centered_w mb-5">
                                        <div class="">

                                            <div class="attraction_item_rev lazy" data-src="{{ asset( attraction.thumbnail ) }}" style="width: 100%;">
                                                <h5>{{ attraction.category }}</h5>
                                                {% if attraction.badge is not empty %}
                                                    <div class="att_home_icons">
                                                        <h5>{{ attraction.badge }}</h5>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <h4 class="mb-3" style="min-height: 56px"><a href="{{ path('attraction_detail',{'slug': attraction.slug }) }}">{{ attraction.title }}</a></h4>
                                            <p class="mt-2 mb-0 text-left">{{ priceType }} <b>{{ value }}</b></p>
                                            {% if attraction.dipNote  is not empty %}
                                                {{ attraction.dipNote | raw }}
                                            {% else %}
                                                <p class="ld text-left"><span class="cur_text">Free</span> entry, included with a Istanbul Tourist Pass
                                                </p>
                                            {% endif %}
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            <div class="col-12 col-md-4 mb-3 var {{ attraction.category | slugify  }}">
                                <div class="attraction_carousel_centered_w mb-5">
                                    <div class="">
                                        <a href="{{ path('attraction_detail',{'slug': attraction.slug }) }}">
                                        <div class="attraction_item_rev lazy" data-src="{{ asset( attraction.thumbnail ) }}" style="height: 250px; width: 100%;">
                                            <h5>{{ attraction.category }}</h5>
                                            {% if attraction.badge is not empty %}
                                            <div class="att_home_icons">
                                                <h5>{{ attraction.badge }}</h5>
                                            </div>
                                            {% endif %}
                                        </div>
                                        </a>

                                        <h4 class="mb-3" style="min-height: 56px"><a href="{{ path('attraction_detail',{'slug': attraction.slug }) }}">{{ attraction.title }}</a></h4>


                                        <p class="mt-2 mb-0 text-left">{{ priceType }} <b>{{ value }}</b></p>
                                        {% if attraction.dipNote  is not empty %}
                                            {{ attraction.dipNote | raw }}
                                        {% else %}
                                            <p class="ld text-left"><span class="cur_text">Free</span> entry, included with a Istanbul Tourist Pass
                                            </p>
                                        {% endif %}
                                        </p>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>




                    </div>
                </div>



            </div>
        </div>

    </div>
<!---->
    <!--------------------------------------------------------------->
    <div class="text-center pb-4 mt-5 ">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-12">
                    <h3 class="mb-3">Browse All Attractions on Our Interactive Map</h3>
                    <p class="gr_text">Use our interactive map powered by Google Maps to locate individual museums, get directions
                        and estimate travel time.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-12 ">
                <iframe src="https://www.google.com/maps/d/embed?mid=1R6BEMIijgYOiajOj04gtdmaVn5SGaLKG&amp;amp;hl=en" frameborder="1" style="width:100%; height:600px;"></iframe>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------->
    <div class="text-center py-4 bg_dark with_bg_image button_half mb-3 lazy" data-src="{{ asset('app/images/bg_img.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-12">
                    <h3 class="mb-3">{{ document.blockByFieldKey('title3') }}</h3>
                    <p class="gr_text">{{ document.blockByFieldKey('text1') | raw }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="text-center pt-4">
                    <div class="">
                        <div class="row">
                            {% include 'app/main/snip/review.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 offset-lg-3 mt-5">
                <div class="text-center py-4 footer_icons">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="row">
                                    {% include 'app/main/snip/menu_pagebottom.twig' %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>

    <style>
        .filter-btn {
            padding: 0 7px !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function filterAttractions()
        {
            $('.full_caroulel_container').removeClass('list_style');
            $('.listview').hide();
            $('.var').show();
            if($("#all").is(':checked')){
                $(".var").show();
                $('.page-title').html('All Attractions');
            } else {
                $(".var").hide();
                $('.page-title').html('');
                $('input[name="filtercat[]"]:checked').each(function () {
                    var con = $('.page-title').html();
                    var lst = $(this).attr('data-value')+'-'+con
                    console.log(lst);
                    var str = lst.substring(0, lst.length - 1);
                    $('.page-title').html(str);
                    $("." + this.value).show();

                });
            }

        }
        function removeCheck(val){
            if(val==2) { $('#all').prop('checked', false); }
        }
        $(function(){
            $("#all").change(function(){
                if (this.checked) {
                    $(".chk").prop('checked', false);
                }
            });
        });

        $('.lst').click(function() {
            $(this).addClass('active');
            $('.grd').removeClass('active');
            $('.full_caroulel_container').addClass('list_style');
            $('.listview').show();
            $('.var').hide();
        });
        $('.grd').click(function() {
            $(this).addClass('active');
            $('.lst').removeClass('active');
            $('.full_caroulel_container').removeClass('list_style');
            $('.listview').hide();
            $('.var').show();
        });
</script>

{% endblock %}
