<div class="accordion_nested_container">
    <h2 class="text-center">Frequently Asked Questions </h2>
    {% for faqsCategory in faqsCategories %}
        <div class='nested-accordion'>
            {% if rUrl=='frequently-asked-questions' %}
                    {% if faqsCategory.id!=6 %}
                    <h3>{{ faqsCategory.getTitle }}</h3>
                        {% for faq in faqsCategory.getQuestions %}
                            <div class='comment faqTitle'>
                                <div class='nested-accordion'>
                                    <h3>{{ faq.question | raw }}</h3>
                                    <div class='comment'>
                                        <p>{{ faq.answer | raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <h3>{{ faqsCategory.getTitle }}</h3>
                    {% for faq in faqsCategory.getQuestions %}
                        <div class='comment faqTitle'>
                            <div class='nested-accordion'>
                                <h3>{{ faq.question | raw }}</h3>
                                <div class='comment'>
                                    <p>{{ faq.answer | raw }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    {% endfor %}
</div>