{% extends 'app/base.html.twig' %}
{% block body %}

    {% if document.title1 or document.title2 %}
        <div class="text-center pt-4 mb-3">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-md-12">
                        <h1 class="mb-3">{{ document.title1 }}</h1>
                        <p class="gr_text">{{ document.title2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="breadcrumb breadcrumb-text">
                <a href="{{ path('homepage') }}">Home</a>&nbsp; / &nbsp;<span>{{ document.pageName }}</span>
            </div>
        </div>
    </div>
    <div class="container bg_white">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class=" text-center">
                        <div class="">

                            <h4 class="mb-3 page-title text-center">{{ document.blockByFieldKey('title1') }}</h4>


                            <div class="col-12 mt-3">

                                <img data-src="{{ document.blockByFieldKey('leftimage1') }}" alt="" class="mb-4 img-p-s lazy">

                                <div class="text-left">
                                    <h3>{{ document.blockByFieldKey('title2') | raw  }}</h3>
                                    {{ document.blockByFieldKey('text1') | raw }}

                                    <h3>{{ document.blockByFieldKey('title3') | raw  }}</h3>

                                    <p>{{ document.blockByFieldKey('text2') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title4') | raw  }}</h3>

                                    <p>{{ document.blockByFieldKey('text3') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title5') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text4') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title6') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text5') | raw }}</p>


                                    <h3>{{ document.blockByFieldKey('title7') }}</h3>
                                    <p>{{ document.blockByFieldKey('text6') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title8') | raw  }}</h3>
                                    {{ document.blockByFieldKey('text7') | raw }}

                                    <h3>{{ document.blockByFieldKey('title9') | raw  }}</h3>
                                    {{ document.blockByFieldKey('text8') | raw }}

                                    <h3>{{ document.blockByFieldKey('title10') | raw  }}</h3>
                                    {{ document.blockByFieldKey('text9') | raw }}

                                    <h5>{{ document.blockByFieldKey('title11') | raw  }}</h5>

                                    {{ document.blockByFieldKey('text10') | raw }}

                                    <h3>{{ document.blockByFieldKey('title12') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text11') | raw }}</p>


                                    <h3>{{ document.blockByFieldKey('title13') | raw  }}</h3>

                                    <p>{{ document.blockByFieldKey('text12') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title14') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text13') | raw }}</p>


                                    <h3>{{ document.blockByFieldKey('title15') | raw  }}</h3>

                                    <p>{{ document.blockByFieldKey('text14') | raw }}/p>

                                    <h3>{{ document.blockByFieldKey('title16') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text15') | raw }}</p>


                                    <h3>{{ document.blockByFieldKey('title17') | raw  }}</h3>


                                    <p>{{ document.blockByFieldKey('text16') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title18') }}</h3>
                                    <p>{{ document.blockByFieldKey('text17') | raw }}</p>


                                    <h3>{{ document.blockByFieldKey('title19') | raw  }}</h3>
                                    <p>{{ document.blockByFieldKey('text18') | raw }}</p>

                                    <h3>{{ document.blockByFieldKey('title20') }}</h3>
                                    <p>{{ document.blockByFieldKey('text19') | raw }}</p>





                                </div>




                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="container mt-5">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="text-center pt-4">
                        <div class="">
                            <div class="row">
                                {% include 'app/main/snip/review.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 offset-lg-3 mt-5">
                    <div class="text-center py-4 footer_icons">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        {% include 'app/main/snip/menu_pagebottom.twig' %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}